[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jedi = "*"
black = "*"
pylint = "*"
pylint-fail-under = "*"
pytest = "*"
pytest-sugar = "*"
pytest-xdist = "*"
twine = "*"
dataclasses = "*"
requests = "*"

[scripts]
"fix:style" = "black -l 100 -S vrelease-bin"
"check:lint" = "pylint --fail-under 9 --rcfile .pylintrc --output-format colorized --verbose vrelease-bin"
"check:style" = "black -l 100 -S --check vrelease-bin"
"prepublish" = "python pre-release-steps.py"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
