name: code-check

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"

jobs:
  code-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to vrelease-py
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install dependencies
        run: uv sync --group dev

      - name: Check code style
        run: uv run black -l 120 -S --check vrelease

      - name: Check lint
        run: uv run pylint --fail-under 9 --rcfile .pylintrc --output-format colorized --verbose vrelease
