name: pkg-test

on:
  push:
    tags:
      - "v*"
    paths-ignore:
      - "**.md"

jobs:
  run-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        py-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py-version }}

      - name: Install vrelease-bin
        run: pip3 install vrelease-bin

      - name: Run vrelease (version)
        run: vrelease -v

      - name: Run vrelease (help)
        run: vrelease -h
