name: pkg-test

on:
  push:
    tags:
      - "v*"
    paths-ignore:
      - "**.md"

jobs:
  run-test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        py-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout to vrelease-py
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py-version }}

      - name: Install OpenSSL (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          choco install openssl --no-progress -y
          Add-Content $env:GITHUB_PATH "C:\\Program Files\\OpenSSL-Win64\\bin"

      - name: Define venv paths
        run: |
          if [ "${RUNNER_OS}" = "Windows" ]; then
            echo "VENV_PYTHON=.venv/Scripts/python.exe" >> "$GITHUB_ENV"
            echo "VENV_BIN=.venv/Scripts" >> "$GITHUB_ENV"
          else
            echo "VENV_PYTHON=.venv/bin/python" >> "$GITHUB_ENV"
            echo "VENV_BIN=.venv/bin" >> "$GITHUB_ENV"
          fi

      - name: Install vrelease-bin
        run: |
          uv venv .venv
          uv pip install -p "$VENV_PYTHON" vrelease-bin

      - name: Run vrelease (version)
        run: |
          "$VENV_BIN/vrelease" -v

      - name: Run vrelease (help)
        run: |
          "$VENV_BIN/vrelease" -h
