name: pkg-test

on:
  push:
    tags:
      - "v*"
    paths-ignore:
      - "**.md"

jobs:
  run-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        py-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py-version }}

      - name: Install vrelease-bin
        run: |
          uv venv .venv
          uv pip install -p .venv/bin/python vrelease-bin

      - name: Run vrelease (version)
        run: .venv/bin/vrelease -v

      - name: Run vrelease (help)
        run: .venv/bin/vrelease -h
